#search{
  width: 300px;
  border-radius: 5px;
  margin-bottom: 5px;
  border: 1px solid #eee;
  box-shadow: 1px 1px 1px #666;
  padding: 3px;
  display: inline-block;
  margin-left: 5px;
  margin-top: 10px;
  background: none;
  color: white;
}

table{
  min-width: 300px;
  border-collapse: collapse;
}

table thead th{
  text-align: left;
}
table tbody td, table thead th{
  padding-left: 8px;
}

/*
.result:nth-child(even){
  background-color: rgba(50, 50, 50, 0.3);
}
.result:nth-child(odd){
  background-color: rgba(0, 0, 0, 0.3);
}
*/

.result:hover{
  background: var(--table-hover);
}
tr.selected{
  background: var(--accent-back) !important;
}